.navbar .dropdown-menu{
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

#content{
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:4em auto 4em;
}

.content_container{
    
}

.faq-list{
    list-style: none;
}
.faq-list ul{
    list-style: square;
}
.faq-list li{
    font-weight:bold;
}